{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "env": {
        "es6": true,
        "node": true
    },
    "rules": {
        "@typescript-eslint/indent": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-this-alias": "off",
        "no-async-promise-executor": "off",
        "no-prototype-builtins": "off",
        "prefer-const": ["error", {
            "destructuring": "all"
        }],
        "eqeqeq": 2,
        "prettier/prettier": "error"
    }
}